crewai==0.193.2
crewai-tools==0.73.1
ipykernel==6.29.4
ipython==8.24.0
jupyter_client==8.6.2
jupyter_core==5.7.2
litellm==1.74.9
openai==1.109.1
pydantic==2.11.9
pydantic_core==2.33.2
python-dotenv==1.0.1
tiktoken==0.11.0
httpx==0.27.2
openpyxl==3.1.5
google-api-core==2.25.1
google-api-python-client==2.183.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.115.0
google-cloud-bigquery==3.30.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-cloud-translate==3.21.1
google-crc32c==1.7.1
langchain==0.3.27
langchain-cohere==0.3.5
langchain-community==0.3.29
langchain-core==0.3.76
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.11
langsmith==0.3.45